<!DOCTYPE html>
<html>
<head>
    <title>401 Unauthorized</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="/css/login.css">

    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <!-- JS -->
    <script src="/js/bulma.js"></script>
</head>
<body>
    <div class="columns is-fluid">
        <div class="column is-5"></div>
        <div class="column is-2">
            <form>
                <h1 class="title has-text-white is-fullwidth" style="text-align:center;">You do not have the required permission to access this page!</h1>
                <a class="button is-large is-fullwidth" onclick="window.history.back();">Go Back</a>
            </form>
        </div>
    </div>
</body>
</html>