<!DOCTYPE html>
<html>
<head>
    <title>Login</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="/css/login.css">

    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <!-- JS -->
    <script src="/js/bulma.js"></script>
    <script src="/js/scryptsy.js"></script>
    <script src="/js/ChannelEncryptor.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/sha512.js"></script>
    <script src="/js/cookie.js"></script>
    {{{scripts}}}
</head>
<body>
    <div class="columns is-fluid">
        <div class="column is-5"></div>
        <div class="column is-2">
            <form>
                <h1 class="title has-text-white">Login</h1>
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" id="login" type="text" placeholder="Login">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" id="password" type="password" placeholder="Password">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>
                <div class="field is-grouped is-grouped-right">
                    <p class="control">
                        <button class="button">
                            Login
                        </button>
                    </p>
                </div>
            </form>
        </div>
    </div>

    <div class="darkner" style="display:none;">µ
        <div class="status">
            <div>Logging in...</div>
            <a class="button is-large is-loading" style="background:transparent; border: none">Loading</a>
        </div>
    </div>

</body>
</html>