<aside class="menu">
    <p class="menu-label">General</p>
    <ul class="menu-list">
        <li><a class="{{Dashboard}}" href="/">Dashboard</a></li>
        <li><a class="{{Analytics}}" href="#">Analytics</a></li>
    </ul>

    <p class="menu-label">Software</p>
    <ul class="menu-list">
        <li><a class="{{Software}}" href="/software">All Software</a></li>
        <li><a href="/software/add">Add Software</a></li>
    </ul>

    <p class="menu-label">Settings</p>
    <ul class="menu-list">
        <li><a>Config</a></li>
        <li><a>Settings</a></li>
        <li><a>Account Settings</a></li>
        <li><a>System Info</a></li>
    </ul>
</aside>