<aside class="menu">
    <p class="menu-label">General</p>
    <ul class="menu-list">
        <li><a href="/" class="{{Dashboard}}">Dashboard</a></li>
        <li><a href="/analytics" class="{{Analytics}}">Analytics</a></li>
    </ul>

    <p class="menu-label">Manage Products</p>
    <ul class="menu-list">
        <li>
            <a href="/software" class="{{Software}}">Software</a>
            {{{software-sub-menu}}}
        </li>
        <li><a href="/filebrowser" class="{{FileBrowser}}">File Browser</a></li>
    </ul>

    <p class="menu-label">Settings</p>
    <ul class="menu-list">
        <li><a href="/config" class="{{Config}}">Config</a></li>
        <li><a href="/settings" class="{{Settings}}">Settings</a></li>
        <li><a href="/users/profile">Account Settings</a></li>
        <li><a href="/system" class="{{System}}">System Info</a></li>
    </ul>
</aside>