.no-top-padding
{
    padding-top: 0px;
}

.align-top
{
    vertical-align: top;
}

.align-bottom
{
    vertical-align: bottom;
}

.align-middle
{
    vertical-align: middle;
}

.spacer
{
    margin-bottom: 50px;
}

.small-spacer
{
    margin-bottom: 25px;
}

.big-spacer
{
    margin-bottom: 100px;
}


.card.info
{
    margin: .75rem;
}

.title.is-huge
{
    font-size: 4rem;
}

.title .button
{
    vertical-align: middle;
}

.button.is-circle
{
    border-radius: 50%;

    height: 40px;
    width: 40px;
}

input:disabled
{
    cursor: text !important;
}

.modal-card-head .modal-card-sub-title
{
    position: absolute;
    top:50px;
}