.no-top-padding
{
    padding-top: 0px;
}

.align-top
{
    vertical-align: top;
}

.align-bottom
{
    vertical-align: bottom;
}

.align-middle
{
    vertical-align: middle;
}

.is-center
{
    text-align: center;
}

.is-forced-center
{
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

.spacer
{
    margin-bottom: 50px;
}

.small-spacer
{
    margin-bottom: 25px;
}

.big-spacer
{
    margin-bottom: 100px;
}


.card.info
{
    margin: .75rem;
}

.title.is-huge
{
    font-size: 4rem;
}

.title .button
{
    vertical-align: middle;
}

.button.is-circle
{
    border-radius: 50%;

    height: 40px;
    width: 40px;
}

input:disabled
{
    cursor: text !important;
}

.modal-card-head .modal-card-sub-title
{
    position: absolute;
    top:50px;
}

.content li
{
    margin-top: .25em;
}

.breadcrumb
{
    position: relative;
    top: -20px;
}

.breadcrumb.has-triangles-separator ul li:first-child
{
    margin-top: 12px;
}

.breadcrumb.has-triangles-separator li+li::before
{
    content: ">";
    font-size: 25px;

    margin-left: -10px;
    margin-right: -5px;
}